
{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div>

        <div>
            <div class="IHAGI_logo" style="text-align: right; margin: 6rem 2.5rem 6rem;">
                <h2><I>OUR ALBUMS</I></h2>
                <hr style="margin: 1rem 0;">
            </div>
        </div>
        <div class="container-fluid" style="margin-bottom: 8rem">
            <div class="row" style="margin: 0.7rem">
                <div class="col-sm-6" style="margin-bottom: 3rem">
                    <div style="text-align: center;">
                        <img src="{% static "vid/24002400.jpg" %}"
                                style="width: 90%; box-shadow: 0 0 0.4rem dimgrey;" alt="">
                    </div>
                </div>
                <div class="col-sm-6" style="text-align: left; ">
                    <div style="margin: 0 0 0 .7rem;">
                        <pre style="white-space: pre-wrap; font-size: .94rem"><I><B>“어디서 왔고 어디로 가는가”</B> 는
현실 안에서 이상을 꿈꾸는 두 청년이 만나
그들이 원하던 이상적인 사운드를 표현하고자 팀을 결성했다.

새로운 음악적 시도를 목표로 제작한 “우주에 두고 왔어요”는
인간이 평소에 헤매이고 고뇌하는 모습을
우주 속 돌아다니는 우리의 모습으로 미화하여
듣는 모두에게 위로를 전하는 노래이다.

끊임없는 고찰을 통해 자신을 알아간다.
도착지를 정해두지 않고 일어나는 미래지향적인 나아감은
팀의 무한한 가능성을 의미한다.

우린 어디서 왔고 어디론가 가고있다
그래서 우리가 있다.




- Credits -
<h5 style="margin-top: 0.5rem; font-size: calc(0.9rem + 0.5vw) !important"><B>어디서 왔고 어디로 가는가 &lt;우주에 두고 왔어요&gt;</B></h5>
어디서 왔고 어디로 가는가 members / 비츠로, 전우뇌

작사 / 작곡  전우뇌 비츠로
편곡 비츠로 전우뇌
믹스 전우뇌, Mushroomshake
마스터링 Mushroomshake
아트 용유


<h5 style="font-size: calc(0.9rem + 0.5vw) !important"><B>wherecomewherego &lt;I left you in the space&gt;</B></h5>
wherecomewherego members/ bitzro, jeonwoonoe

Composed  & Written by bitzro, jeonwoonoe
Produced by bitzro, jeonwoonoe
Mixed by jeonwoonoe, Mushroomshake
Mastering by Mushroomshake
Artwork by yong_yu
                        </I></pre>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
