
{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div>

        <div>
            <div class="IHAGI_logo" style="text-align: right; margin: 6rem 2.5rem 5rem;">
                <h2><I>OUR ALBUMS</I></h2>
                <hr style="margin: 1.5rem 0;">
            </div>
        </div>
        <div class="container-fluid" style="margin-bottom: 9rem">
            <div class="row" style="margin: 2rem">
                <div class="col-sm-5" style="margin-bottom: 2.5rem">
                    <div style="text-align: center; ">
                        <img src="https://picsum.photos/300/300?grayscale"
                                style="width: 85%; box-shadow: 0 0 0.5rem dimgrey;" alt="">
                    </div>
                </div>
                <div class="col-sm-7" style="text-align: center; padding: 0 1rem;">
                    <h4 style="font-family: 'Noto Serif KR', serif;
                     font-size: calc(.6rem + 1vw) !important; margin-top: 2.2vw">
                        - 우주에 두고 왔어요 -
                    </h4>
                    <p style="margin: 2vw 0 0.5vw;
                    font-size: calc(.1rem + 1vw) !important"><I> track 1 </I></p>
                    <p style="font-size: calc(.1rem + 1vw) !important;"><I>우주에 두고 왔어요</I></p>
                </div>
            </div>
        </div>

    </div>



{% endblock %}
