
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="bg my-5" style="vertical-align: middle;">
        <video muted autoplay loop>
            <source src="{% static 'vid/배경.mp4' %}" type="video/mp4">
         </video>
          <div class="text">
            <h1 style="font-size: calc(.6rem + 2vw); color: white; text-align: center;!important;">
                <I>Where Come Where Go ?</I></h1>
            <p style="margin: 4vw; font-size: calc(.1rem + 1vw) !important;">
                We left it in space.</p>
          </div>

    </div>
{% endblock %}
