.IHAGI_logo{
    margin: 2rem 0;
    font-family: 'Noto Serif KR', serif;
}

.where_header_button{
    margin-bottom: 2rem;
    font-family: 'Noto Serif KR', serif;
    font-size: 0.9rem;
}

.beauty_footer{
     font-size: 0.8rem;
}

.where_footer{
    text-align: center; margin-top: 2rem;
}

.where_header{
    text-align: center; margin: 2rem 0;
}


