

    <div class="where_header">

        <div>
            <h1 class="IHAGI_logo" style="margin-top: 3rem"><a href="{% url 'accountapp:main' %}"
                                      style="color: black;text-decoration-line: none">
                WCOMEWGO</a></h1>
        </div>
        <div class="where_header_button">
            <a href="{% url 'accountapp:about_us' %}" style="text-decoration-line: none;">
                <span class="IHAGI_logo">ABOUTUS</span>
            </a>
            <a href="{% url 'accountapp:album' %}" style="text-decoration-line: none;">
                <span class="IHAGI_logo">ALBUMS</span>
            </a>
            <a href="{% url 'articleapp:list' %}" style="text-decoration-line: none;">
                <span class="IHAGI_logo">PHOTOS</span>
            </a>
        </div>
    </div>