

    <div class="where_header">

        <div class="IHAGI_logo" style="margin-top: 3rem;">
            <a href="{% url 'home' %}" onmouseover="this.style.color='black'">
                <h1>WCOMEWGO</h1>
            </a>
        </div>
        <div class="where_header_button" style="font-size: 0.95vw">
            <a href="{% url 'accountapp:about_us' %}">
                <span class="IHAGI_logo mx-2">AboutUs</span>
            </a>
            <a href="{% url 'accountapp:album' %}">
                <span class="IHAGI_logo mx-2">Albums</span>
            </a>
            <a href="{% url 'articleapp:list' %}">
                <span class="IHAGI_logo mx-2">Photos</span>
            </a>
        </div>
    </div>