{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>
        .container{
            padding: 0;
            margin: auto;
        }

        .container div {
          width: 45%;
            max-width: 250px;
          display: flex;
          justify-content: center;
          align-items: center;
            
        }

        .container img {
            width: 100%;
        }

    </style>

    <div class="container">
      <div class="item1">
          <img src="{% static "vid/사이트 샤진/1.jpg" %}" alt="">
      </div>
      <div class="item2">
          <img src="{% static "vid/사이트 샤진/2.jpg" %}" alt="">
      </div>
      <div class="item3">
          <img src="{% static "vid/사이트 샤진/7.jpeg" %}" alt="">
      </div>
      <div class="item4">
          <img src="{% static "vid/사이트 샤진/4.jpg" %}" alt="">
      </div>
      <div class="item5">
          <img src="{% static "vid/사이트 샤진/5.jpeg" %}" alt="">
      </div>
      <div class="item6">
          <img src="{% static "vid/사이트 샤진/6.jpeg" %}" alt="">
      </div>
      <div class="item7">
          <img src="{% static "vid/사이트 샤진/8.jpeg" %}" alt="">
      </div>
      <div class="item8">
          <img src="{% static "vid/사이트 샤진/11.jpeg" %}" alt="">
      </div>
      <div class="item9">
          <img src="{% static "vid/사이트 샤진/9.jpeg" %}" alt="">
      </div>
      <div class="item10">
          <img src="{% static "vid/사이트 샤진/10.jpeg" %}" alt="">
      </div>
      <div class="item11">
          <img src="{% static "vid/사이트 샤진/3.jpg" %}" alt="">
      </div>
    </div>
    <script src="{% static 'js/magicgrid.js' %}"></script>



{% endblock %}