{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>
        .container{
            padding: 0;
            margin: auto;
        }

        .container div {
          width: 45%;
            max-width: 250px;
          display: flex;
          justify-content: center;
          align-items: center;
            
        }

        .container img {
            width: 100%;
        }

    </style>

    <div class="container">
      <div class="item1">
          <img src="{% static "vid/사이트 샤진/1.jpg" %}" alt="">
      </div>
      <div class="item2">
          <img src="{% static "vid/사이트 샤진/2.jpg" %}" alt="">
      </div>
      <div class="item3">
          <img src="{% static "vid/사이트 샤진/7.jpeg" %}" alt="">
      </div>
      <div class="item4">
          <img src="{% static "vid/사이트 샤진/4.jpg" %}" alt="">
      </div>
      <div class="item5">
          <img src="{% static "vid/사이트 샤진/5.jpeg" %}" alt="">
      </div>
      <div class="item6">
          <img src="{% static "vid/사이트 샤진/6.jpeg" %}" alt="">
      </div>
      <div class="item7">
          <img src="{% static "vid/사이트 샤진/8.jpeg" %}" alt="">
      </div>
      <div class="item8">
          <img src="{% static "vid/사이트 샤진/11.jpeg" %}" alt="">
      </div>
      <div class="item9">
          <img src="{% static "vid/사이트 샤진/9.jpeg" %}" alt="">
      </div>
      <div class="item10">
          <img src="{% static "vid/사이트 샤진/10.jpeg" %}" alt="">
      </div>
      <div class="item11">
          <img src="{% static "vid/사이트 샤진/3.jpg" %}" alt="">
      </div>
      <div class="item12">
          <img src="{% static "vid/사이트 샤진/12.jpeg" %}" alt="">
      </div>
      <div class="item13">
          <img src="{% static "vid/사이트 샤진/13.jpeg" %}" alt="">
      </div>
      <div class="item14">
          <img src="{% static "vid/사이트 샤진/14.jpg" %}" alt="">
      </div>
      <div class="item15">
          <img src="{% static "vid/사이트 샤진/15.jpeg" %}" alt="">
      </div>
      <div class="item16">
          <img src="{% static "vid/사이트 샤진/16.jpeg" %}" alt="">
      </div>
      <div class="item17">
          <img src="{% static "vid/사이트 샤진/17.jpg" %}" alt="">
      </div>
      <div class="item18">
          <img src="{% static "vid/사이트 샤진/18.jpeg" %}" alt="">
      </div>
      <div class="item19">
          <img src="{% static "vid/사이트 샤진/19.jpeg" %}" alt="">
      </div>
      <div class="item20">
          <img src="{% static "vid/사이트 샤진/20.jpg" %}" alt="">
      </div>
      <div class="item21">
          <img src="{% static "vid/사이트 샤진/21.jpeg" %}" alt="">
      </div>
      <div class="item22">
          <img src="{% static "vid/사이트 샤진/22.jpeg" %}" alt="">
      </div>




    </div>


    <script src="{% static 'js/magicgrid.js' %}"></script>



{% endblock %}